In [ ]:
# Data Science Tools and Ecosystems

In [ ]:
## In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
**Objectives:**
- List popular languages for Data Science
- Outline Libraries, Data Sets and Models in Data Science
- Jypyter Notebooks and Jypyter Labs

In [5]:
## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

<class 'SyntaxError'>: invalid syntax (<ipython-input-5-68636a4340eb>, line 2)

In [ ]:
## Some of the commonly used libraries used by Data Scientists inlcude

In [ ]:
1. Numpy
2. Matplotlib
3. Pandas
4. SciPy

## Data Science Tools

| Data Science Tools |
| ------------------ |
| Jypyter |
| RStudio |
| Spyder |
| Apache Zeppelin |

## Data Science Tools

In [4]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add numbers

17

In [ ]:
200/60
## This will convert 200 minutes to hours by dividing by 60

In [ ]:
## Author
Adam Coles